/*****GENERAL WRAPPER*****/
.container {
    text-align: center;
}

/*****HEADER*****/
.header {
    position: fixed;
    z-index: 1;
    top: 0;
    height: 80px;
    width: 100vw;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 3px 3px rgba(136,136,136, 0.5   );
}
.header Button {
    margin: 120px;
}
.logoanchor > img {
    margin: 120px;
    width: 25%;
}
.logoanchor {
    width: 20%;
}

/*****GENERAL*****/
.inside-styles-90 {
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inside-styles-80 {
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inside-styles-50 {
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.h1-diuri {
    margin-bottom: 30px;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Gotham titles";
}
.h2-diuri {
    color: white;
    font-family: "Gotham subtitles";
    line-height: 1.5em;
}
.h3-diuri {
    color: #2DC5FA;
    font-family: "Gotham titles";
    font-size: 1.9rem;
}
.h4-diuri {
    color: black;
    font-family: "Gotham subtitles";
    font-size: 1.4rem;
}
.h5-diuri {
    font-size: 1.1rem;
    text-align: justify;
}
.h6-diuri {
    font-size: 1.1rem;
    text-align: justify;
}
.span-diuri {
    color: white;
    font-size: 1.2rem;
}

/*****FIRST SECTION*****/
.shadow {
    height: 85vh;
    width: 100vw; 
    background-color: rgba(0,0,0,.7); 
    margin-top: 50px;
}
.shadow img {
    margin-bottom: 50px;
    width: 10%;
}
.desc-points {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button-first-page {
    margin-top: 70px;
    height: 50px;
}

/*****SECOND SECTION*****/
.second-section {
    width: 90vw;
    height: 50vh;
    margin-top: 70px;
}
.second-section .h3-diuri {
    margin-bottom: 30px;
}
.second-section iframe {
    margin-top: 50px;
    width: 560px;
    height: 315px;
}

/*****THIRD SECTION*****/
.third-section {
    width: 90vw;
    height: 80vh;
    margin-top: 50px;
}
.third-section .desc-3 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

/*****FOURTH SECTION*****/
.fourth-section {
    margin-top: 30px;
    width: 90vw;
    height: 90vh;
}
.fourth-section .h3-diuri {
    margin-bottom: 50px;
}
.fourth-section .h5-diuri {
    margin-top: 30px;
}
.fourth-section .h4-diuri {
    margin-bottom: 50px;
}
.bliss {
    width: 20%;
    border-radius: 50%;
    margin-bottom: 50px;
}

/*****FIFTH SECTION*****/
.fifth-section {
    width: 90vw;
    height: 80vh;
    margin-top: 100px;
}
.fifth-section .h3-diuri {
    margin-bottom: 50px;
}
.fifth-section video {
    margin-top: 60px;
    margin-bottom: 100px;
    width: 600px;
    height: 315px;
}

/*****SIXTH SECTION****/
.sixth-section {
    width: 90vw;
    height: 30vh;
}
.sixth-section a {
    text-decoration: none;
}

/*****FOOTER*****/
.footer .h4-diuri {
    color: white;
}
.footer {
     text-align: left !important;
     padding:2% 0;
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
     background-color: #2D354C;;
     flex-wrap: wrap;
     color: #2DC5FA;
 }
.footer > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 25%;
    text-align: center;
}
.footer div div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer div:nth-child(1) div {
    margin-top: 20px;
    flex-direction: row;
}
.footer a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}
.icon {
    font-size: 1.5rem;
}
.footer a:hover {
    text-decoration: none;
    color: #2DC5FA;
    cursor: pointer;
}

/*****ANT DESIGN*****/
.ant-btn-primary {
    background-color: #2DC5FA !important;
    border-color: #2DC5FA !important;
}
.ant-modal-close-x {
    color: #2DC5FA !important;
}

/*****MODALS*****/
.login-modal-fb, .login-modal-go {
    font-size: 2rem;
}
.login-modal-fb:hover {
    color: #3B5998;
    cursor: pointer;
}
.login-modal-go:hover {
    color: #EA4335;
    cursor: pointer;
}
.span-underline {
    border-bottom: 1px solid white;
    padding-bottom: 2px;
}
.points {
    margin: 50px;
}
.icons-svg {
    margin-bottom: 50px;
}


/*****MEDIA QUERIES****/
@media (max-width: 990px) {
    .h1-diuri {
        margin-bottom: 30px;
        color: white;
        font-size: 2.2rem;
        font-weight: bold;
        font-family: "Gotham titles";
    }
    .h2-diuri {
        color: white;
        font-family: "Gotham subtitles";
        line-height: 1.5em;
    }
    .h3-diuri {
        color: #2DC5FA;
        font-family: "Gotham titles";
        font-size: 1.9rem;
    }
    .h4-diuri {
        color: black;
        font-family: "Gotham subtitles";
        font-size: 1.4rem;
    }
    .h5-diuri {
        font-size: 1.1rem;
        text-align: justify;
    }
    .h6-diuri {
        font-size: 1.1rem;
        text-align: justify;
    }
    .span-diuri {
        color: white;
        font-size: 1.2rem;
    }
    .header {
        position: fixed;
        z-index: 1;
        top: 0;
        height: 80px;
        width: 100vw;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 3px 3px 3px rgba(136,136,136, 0.5   );
    }
    .header Button {
        margin: 70px;
    }
    .logoanchor > img {
        margin: 50px;
        width: 35%;
    }
    .logoanchor {
        width: 20%;
    }
    .shadow {
        height: 85vh;
        width: 100vw;
        background-color: rgba(0,0,0,.7);
        margin-top: 50px;
    }
    .shadow img {
        margin-bottom: 50px;
        width: 15%;
    }
    .desc-points {
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .button-first-page {
        margin-top: 70px;
        height: 50px;
    }
    .parallax .inside-styles-90 > img {
        margin-top: 20px;
    }
    .desc-points {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        flex-wrap: wrap;
    }
    .shadow span {
        margin-top: 30px;
    }
    .second-section {
        width: 90vw;
        height: 70vh;
        margin-top: 50px;
    }
    .inside-styles-50 {
        width: 90vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .second-section .h3-diuri {
        margin-bottom: 50px;
    }
    .third-section {
        width: 90vw;
        height: 170vh;
        margin-top: 50px
    }
    .third-section .desc-3 {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    .fourth-section {
        margin-top: 70px;
        width: 90vw;
        height: 110vh;
    }
    .fourth-section .h3-diuri {
        margin-bottom: 50px;
    }
    .fourth-section .h5-diuri {
        margin-top: 30px;
    }
    .fourth-section .h4-diuri {
        margin-bottom: 30px;
    }
    .bliss {
        width: 30%;
        border-radius: 50%;
        margin-bottom: 50px;
    }
    .fifth-section {
        width: 90vw;
        height: 100vh;
        margin-top: 120px;
    }
    .fifth-section .h3-diuri {
        margin-bottom: 50px;
    }
    .fifth-section video {
        margin-top: 50px;
        width: 80vw;
        height: 500px;
    }


}

@media (max-width: 768px) {
    .header {
        position: fixed;
        z-index: 1;
        top: 0;
        height: 80px;
        width: 100vw;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 3px 3px 3px rgba(136,136,136, 0.5);
    }
    .header Button {
        margin: 40px;
    }
    .logoanchor > img {
        margin: 20px;
        width: 45%;
    }
    .logoanchor {
        width: 20%;
    }
    .parallax .inside-styles-90 > img {
        margin-top: 50px;
    }
    .shadow {
        height: 90vh;
        width: 100vw;
        background-color: rgba(0,0,0,.7);
        margin-top: 5px;
    }
    .shadow img {
        margin-bottom: 30px;
        width: 20%;
    }
    .desc-points {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        flex-wrap: wrap;
    }
    .shadow span {
        margin-top: 30px;
    }
    .button-first-page {
        margin-top: 50px;
        height: 50px;
    }
    .second-section {
        width: 90vw;
        height: 80vh;
        margin-top: 50px;
    }
    .inside-styles-50 {
        width: 90vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .second-section .h3-diuri {
        margin-bottom: 50px;
    }
    .third-section {
        width: 90vw;
        height: 170vh;
        margin-top: 50px
    }
    .third-section .desc-3 {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    .fourth-section {
        margin-top: 70px;
        width: 90vw;
        height: 110vh;
    }
    .fourth-section .h3-diuri {
        margin-bottom: 50px;
    }
    .fourth-section .h5-diuri {
        margin-top: 30px;
    }
    .fourth-section .h4-diuri {
        margin-bottom: 30px;
    }
    .bliss {
        width: 35%;
        border-radius: 50%;
        margin-bottom: 50px;
    }
    .fifth-section {
        width: 90vw;
        height: 100vh;
        margin-top: 50px;
    }
    .fifth-section .h3-diuri {
        margin-bottom: 50px;
    }
    .fifth-section video {
        margin-top: 50px;
        width: 80vw;
        height: 300px;
    }


}

@media (max-width: 480px) {
    .header {
        position: fixed;
        z-index: 1;
        top: 0;
        height: 80px;
        width: 100vw;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 3px 3px 3px rgba(136,136,136, 0.5);
    }
    .header Button {
        margin: 20px;
    }
    .logoanchor > img {
        margin: 10px;
        width: 70%;
    }
    .logoanchor {
        width: 20%;
    }
    .shadow {
        height: 100vh;
        width: 100vw;
        background-color: rgba(0,0,0,.7);
        margin-top: 5px;
    }
    .shadow img {
        margin-bottom: 20px;
        width: 30%;
    }
    .desc-points {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .shadow span {
        margin: 3px;
    }
    .button-first-page {
        margin-top: 30px;
        height: 50px;
    }
    .second-section {
        width: 90vw;
        height: 70vh;
        margin-top: 70px;
    }
    .inside-styles-50 {
        width: 90vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .second-section .h3-diuri {
        margin-bottom: 30px;
    }
    .second-section iframe {
        margin-top: 10px;
        width: 560px;
        height: 315px;
    }
    .third-section {
        width: 90vw;
        height: 200vh;
        margin-top: 120px
    }
    .third-section .desc-3 {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    .fourth-section {
        margin-top: 50px;
        width: 90vw;
        height: 150vh;
    }
    .fourth-section .h3-diuri {
        margin-bottom: 30px;
    }
    .fourth-section .h5-diuri {
        margin-top: 30px;
    }
    .fourth-section .h4-diuri {
        margin-bottom: 30px;
    }
    .bliss {
        width: 50%;
        border-radius: 50%;
        margin-bottom: 50px;
    }
    .fifth-section {
        width: 90vw;
        height: 120vh;
        margin-top: 30px;
    }
    .fifth-section .h3-diuri {
        margin-bottom: 50px;
    }
    .fifth-section video {
        margin-top: 20px;
        width: 80vw;
        height: 300px;
    }
    .footer .h4-diuri {
        color: white;
        margin-bottom: 5px;
    }
    .footer {
        text-align: left !important;
        padding:2% 0;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        background-color: #2D354C;;
        flex-wrap: wrap;
        color: #2DC5FA;
    }
    .footer > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 25%;
        text-align: center;
    }
    .footer div div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .footer div:nth-child(1) div {
        margin-top: 10px;
        flex-direction: row;
    }
    .footer a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 0.8rem;
    }
    .icon {
        font-size: 1rem;
    }
    .h1-diuri {
        margin-bottom: 30px;
        color: white;
        font-size: 1.6rem;
        font-weight: bold;
        font-family: "Gotham titles";
    }
    .h2-diuri {
        color: white;
        font-family: "Gotham subtitles";
        line-height: 1.5em;
        font-size: 1rem;
    }
    .h3-diuri {
        color: #2DC5FA;
        font-family: "Gotham titles";
        font-size: 1.9rem;
    }
    .h4-diuri {
        color: black;
        font-family: "Gotham subtitles";
        font-size: 1.4rem;
    }
    .h5-diuri {
        font-size: 1.1rem;
        text-align: justify;
    }
    .h6-diuri {
        font-size: 1.1rem;
        text-align: justify;
    }
    .span-diuri {
        color: white;
        font-size: 0.8rem;
    }
}

@media (max-width: 320px) {
    .header Button {
        margin: 20px;
    }
    .logoanchor > img {
        margin: 30px;
        width: 90%;
    }
    .logoanchor {
        width: 20%;
    }
    .parallax .inside-styles-90 > img {
        margin-top: 50px;
    }
    .shadow {
        height: 100vh;
    }
    .shadow img {
        margin-bottom: 20px;
        width: 35%;
    }
    .second-section {
        width: 90vw;
        height: 100vh;
        margin-top: 70px;
    }
    .inside-styles-50 {
        width: 90vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .second-section .h3-diuri {
        margin-bottom: 30px;
    }
    .second-section iframe {
        margin-top: 10px;
        width: 560px;
        height: 315px;
    }
    .third-section {
        width: 90vw;
        height: 250vh;
        margin-top: 70px
    }
    .fourth-section {
        margin-top: 70px;
        width: 90vw;
        height: 170vh;
    }
    .bliss {
        width: 70%;
        border-radius: 50%;
        margin-bottom: 50px;
    }
    .fifth-section {
        width: 90vw;
        height: 130vh;
        margin-top: 70px;
    }
    .fifth-section .h3-diuri {
        margin-bottom: 50px;
    }
    .fifth-section video {
        margin-top: 0;
        width: 80vw;
        height: 250px;
    }
    .sixth-section {
        width: 90vw;
        height: 30vh;
    }
    .footer .h4-diuri {
        color: white;
        font-size: 1rem;
    }
    .footer {
        text-align: left !important;
        padding:2% 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2D354C;;
        flex-wrap: wrap;
        flex-direction: column;
        color: #2DC5FA;
    }
    .footer > div {
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 25%;
        text-align: center;
    }
    .footer div div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .footer div:nth-child(1) div {
        margin-top: 10px;
        flex-direction: row;
    }
    .footer a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 0.8rem;
    }
    .icon {
        font-size: 1rem;
        margin-right: 5px;
    }
    .h1-diuri {
        margin-bottom: 42px;
        color: white;
        line-height: normal;
        font-size: 1.6rem;
        font-weight: bold;
        font-family: "Gotham titles";
    }
    .h2-diuri {
        color: white;
        font-family: "Gotham subtitles";
        line-height: 1.5em;
        font-size: 1rem;
    }
    .h3-diuri {
        color: #2DC5FA;
        font-family: "Gotham titles";
        font-size: 1.5rem;
    }
    .h4-diuri {
        color: black;
        font-family: "Gotham subtitles";
        font-size: 1.4rem;
    }
    .h5-diuri {
        font-size: 1rem;
        text-align: justify;
    }
    .h6-diuri {
        font-size: 1.1rem;
        text-align: justify;
    }
    .span-diuri {
        display: none;
        color: white;
        font-size: 0.8rem;
    }
}